.user {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.user__img {
  width: 150px;
  border-radius: 50%;
  margin: auto;
  object-fit: cover;
}

.form {
  display: grid;
  gap: 1rem;
  text-align: center;
  margin-top: var(--mb-2);
}

.form__input {
  width: 100%;
  outline: none;
  border: none;
  font-size: var(--normal-font-size);
  background-color: var(--dark-color-lighten);
  border-radius: 0.5rem;
  padding: 0.9rem 1rem;
}


@media screen and (min-width: 768px) {
  .user__img {
    width: 50%;
    height: 100%;
    border-radius: 0.5rem;
  }
}