.collection__container {
  row-gap: 2rem;
  justify-content: center;
}

.collection__card {
  position: relative;
  display: flex;
  height: 328px;
  background-color: var(--dark-color-lighten);
  padding: 2rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.collection__card:hover {
  transform: translateY(-0.5rem);
}

.collection__data {
  align-self: flex-end;
}

.collection__img {
  position: absolute;
  top: 0;
  right: 0;
  width: 230px;
}

.collection__name {
  font-size: var(--bigger-font-size);
  margin-bottom: 0.25rem;
}

.collection__description {
  margin-bottom: var(--mb-2);
}

@media screen and (min-width: 576px) {
  .collection__container {
    grid-template-columns: 415px;
  }
  .collection__img {
    width: 260px;
  }
}

@media screen and (min-width: 1024px) {
  .collection__container {
    grid-template-columns: repeat(2, 415px);
  }
}
